.mat-toolbar {
    flex: none;
}

#container {
    flex: 1;

    @media only screen and (max-width: 599px) {
        padding-top: 56px;
    }
}

.mat-drawer-container {
    height: 100%;

    .mat-drawer {
        width: 256px;
    }

    .mat-drawer-content {
        padding: 16px;
    }
    main {
        max-width: 1000px;
        margin: 0px auto;
    }
}